@import url("https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@600&display=swap");

h1 {
  font-family: "Stick No Bills", sans-serif;
  color: teal;
  font-weight: 200;
  font-size: xx-large;
}
